{% extends 'base.html' %}

{% block title %}
Address
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="add" class="form-label">Address</label>
            <textarea name="address" id="add" rows="10" cols="20" required placeholder="Enter your Address"></textarea>
        </div>
        <div class="mb-3">
            <label for="zip" class="form-label">Zipcode</label>
            <input type="text" name="zip" class="form-control" id="zip" minlength="6" maxlength="6" required>
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Phone</label>
            <input type="text" name="mobile" class="form-control" id="mobile" minlength="10" maxlength="10" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Address</button>
    </form>
</div>
</div>

{% if messages %}
 {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endblock %}